.header{
  background: #34495e;
  width: 100%;
  text-decoration: none;
}
a{
  color: white;
  text-decoration: none;
}
.govde-1{
  background: #1abc9c;

}
.yazi{
  width: 350px !important;
  border-top: solid 1px #fff;
  margin: 0 auto;
  padding: 10px 0;
}
.yazi::before{
  content: "REKLAM";
  position: absolute;
  top: 84%;
  left: 49%;
  padding: 0 10px;
  color: white
}
img{

  position: relative;
  left: 45%;
}
