
body{
     font-size:1rem;
     padding:0; margin:0;

}

a{
     color:var(--color4);
}

a:hover{
     color:var(--color1);
}


.dortuncu-bolum .card-img-top{
  height: 14vw;
  width: 100%;
  object-fit: cover;
  cursor: pointer;
}
.dortuncu-bolum .card{
  border: 0;
  margin-top: 1rem;
  min-width: 100%;
  min-height: 100%;
  height: 100%;
  width: 100%;

}
.dortuncu-bolum .card-body{
  background-color: #f5f6fa;
}
.dortuncu-bolum .card-body h4{
  line-height: 1;
  padding: 3%;
  min-height: 5vh;
}
.dortuncu-bolum .kutular input[type="button"]{
  margin: 0 5px;
  border: 1px solid white;
  cursor: pointer;
}
.dortuncu-bolum .kutular input[type="button"]:hover{
  background-color: #48a868;
}
@media (min-width:576px) {
  .dortuncu-bolum .card-img-top{
    height: 50vw;
    object-fit: cover;
    margin-top: 3%;
  }
}
@media (min-width:768px) {
  .dortuncu-bolum .card-img-top{
    height: 20vw;
    object-fit: cover;
  }
}
@media (min-width:992px) {
  .dortuncu-bolum .card-img-top{
    height: 14vw;
    object-fit: cover;
  }
}


/*
Stillerinizi yazarken karışıklık olmaması için her açtığınız
stil etiketinin başına mutlaka çalıştığınız bölümünetiketini koymayı ihmal etmeyiniz.
Ör:

.header .logo{
 back
}



*/
